<p>
  <strong>Name:</strong>
  <%= @user.name %> <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Account:</strong>
  <%= @user.role %>
</p>
<p>
  <strong>Jobs</strong><br>
  <% @user.projects.each do |project| %>
    --------------------------------
    <%= link_to project_path(project.id) do %>
    <br>
    <strong>Job Type:</strong>
    <%= project.job_type %><br>
    <strong>Added by:</strong>
    <%= project.added_by %><br>

    <% end %>
    --------------------------------
  <% end %>
</p>
