
<% unless current_user && current_user.guest? %>

<div id="welcome-bar" class="bar-style bar-thin add-margin bold-bar">
  <span><%= @user.name %>'s <%= @user.role.capitalize %> Account</span>
</div>

<h3> <%=@user.role.capitalize%> Dash </h3>

<% if @user.admin? %>
  <%= render 'admin_dash' %>
<% elsif @user.designer? %>
  <%= render 'designer_dash' %>
<% else %>
  <%= render 'customer_dash' %>
<% end %>


<div id="dash-bar" class="bar-style bar-thin add-margin">
  <span><%= link_to 'edit account', edit_user_path(@user) %> <%= new_project_links %></span>
</div>

<% else %>

<div id="welcome-bar" class="bar-style bar-thin add-margin bold-bar">
  <span>Thank you for your enquiry</span>
</div>

<br>
<p>You will recieve an email shortly inviting you to sign up for a My Habitat account that will enable you to track your enquiry.</p>
<br>

<% end %>

