<div id="menu-bar" class="bar-style bar-thin">
	<span>
		<% if params[:controller] != 'welcome' %>
			<%= link_to "home", root_path %>
		<% end %>
		| <%= link_to "about us", "#" %>
		| <%= link_to "contact us", "#" %>
		<% if current_user %>
			| <%= link_to "my habitat", user_path(current_user.id) %>
		<% else %>
			| <%= link_to "my habitat", signin_path %>
		<% end %> 
		<%= new_project_links %>
	</span>
</div>