<div class="col-md-6">
		
	<!-- STACK Job Type -->
	<div class="stack-box highlight">
		<div class="title">Job type</div> 
		<%= @project.job_type %> 
		
			<!-- STACK Job Icons CODE SHOULD BE MOVED BUT VIEW POSITIONING RELATIVE TO CURRENT PARENT DIV-->
			<div class="add-icon <%= 'check' if @project.design? %>" id="design-icon" title="<%= @project.design? ? "Design Available" : "No Design Available"%>">
				<i class="fa <%= icon_check(@project.design) %> fa-2x" ></i><br>
				Design
			</div>
		
			<div class="add-icon <%= 'check' if @project.deposit? %>" id="quoted-icon" title="<%= @project.deposit? ? "Deposit Paid - Slot Secured" : "No Deposit Recieved - Slot Unsecured!"%>">
				<i class="fa <%= icon_check(@project.deposit) %> fa-2x"></i><br>
				Deposit
			</div>

			<div class="add-icon <%= 'check' if @project.contract_present? %>" id="contract-icon" title="<%= @project.contract_present? ? "Contract Sent on #{@project.contract_date.strftime("%d-%b-%Y at %R")}" : "No contract sent yet!"%>">
				<i class="fa <%= icon_check(@project.contract_present) %> fa-2x" ></i><br>
				Contract
			</div>
	
	</div>

	<!-- STACK Budget -->
	<div class="stack-box highlight">
		<div class="title">Job budget</div> 
		<%= budget(@project.budget) %>
	</div>

	<!-- STACK handler -->
	<div class="stack-box <%= "highlight" if @project.handled %>" id="handler-box">
		<div class="title">Assigned to</div> 
		<%= test_handler(@project.handled) %>
	</div>

	<!-- STACK Quote -->
	<div class="stack-box <%= "highlight" if @project.quote %>" id="stack-box">
		<div class="title">Quote</div> 
		<%= test_quote(@project.quote) %>
	</div>

	<!-- STACK Team -->
	<div class="stack-box <%= "highlight" if @project.team %>" id="team-box">
		<div class="title">Assigned team</div> 
		<%= test_team(@project.team) %>
	</div>

	<!-- STACK Start Date -->
	<div class="stack-box <%= "highlight" if @project.start_date %>" id="start-box">
		<div class="title">Est. start date</div> 
		<%= test_start(@project.start_date) %>
	</div>

	<!-- STACK Update Button -->
		<% if current_user.access? %>
				<%= link_to edit_project_path(@project), remote: true do %>
					<div class="stack-box stack-button" id="stack-update">
						Update Project
					</div>
				<!-- STACK Contract Button Admin view - NEEDS REFACTORING -->
				<% if current_user.admin? %>
					<% if @project.stage >= 2 && @project.quote && @project.contract_present == false %>
						<%= link_to render_contract_project_path(@project, format: "pdf") do %>
							<div class="stack-box stack-button" id="stack-contract">Generate Contract</div>
						<% end %>
					<% elsif @project.contract_present? %>
						<%= link_to @project.contract.url(:original, false) do %>
							<div class="stack-box stack-button" id="contract-enabled">View Contract</div>
						<% end %>
					<% else %>
							<div class="stack-box stack-button-disabled" id="contract-disabled">Generate Contract</div>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
		
	 	<!-- STACK Contract Button Cusotmer view - NEEDS REFACTORING -->
		<% if current_user.customer? %>
			<% if @project.contract_present? %>
				<%= link_to @project.contract.url(:original, false) do %>
					<div class="stack-box stack-button" id="contract-enabled">View/Download Contract</div>
				<% end %>
			<% else %>
					<div class="stack-box stack-button-disabled" id="contract-disabled">View/Download Contract</div>
			<% end %>
		<% end %>


</div>
