<% @pag_projects.each do |project| %>
<div class="project-box stage<%=project.stage%>">
  <div class="project-upper">
    <div class="row">
      <div class="col-md-2 project-icon <%=project_icon(project.stage)%> <%= "icon-ban red" if project.budget == 0 %>"></div>
      <div class="col-md-10 project-title">
        <% if project.user && project.user.customer? %>
          <%= link_to user_path(project.user.id) do %>
            <i class="icon-star user-star"></i>
            <%= project.user.lastname.upcase %>
          <% end %>
        <% else %>
          <%= project.last_name.upcase %>
        <% end %>
        <div class="location"><%= project.post_code%></div>
      </div>
    </div>
  </div>
  <div class="project-lower">
    <div class="project-items">
      <span>Added by <b><%= project.added_by %></b></span> <br>
      <%= project.job_type %> <br>
      Quote: <%= to_cur(project.quote) %> <br>
      Start: <%= project.start_date %> <br>
      <%= link_to 'Show', project %>
    </div>
  </div>
  <div class="project-footer">
    <b><%= project.reference%></b>
  </div>
</div>

<% end %>